@media (max-width: 600px) {
  header {
    position: relative;
  }
  header nav {
    display: none;
    position: absolute;
    top: 70px;
    background-color: var(--header-background);
    width: 100%;
  }
  .menu-icon {
    display: block;
    color: var(--nav-text-link-color);
    font-size: 23px;
  }
  nav ul li {
    display: block;
    text-align: center;
    margin: 10px 0;
  }
}
@media (min-width: 600px) {
  header nav {
    display: block !important;
  }
}
